name: Dispatch Sync

on:
  workflow_dispatch:

jobs:
  dispatch:
    runs-on: ubuntu-latest

    env:
      VERSION: "4.7.1"
      PAT: ${{ secrets.PAT }}

    steps:
      - name: Send dispatch to Craft-Froala-WYSIWYG-A
        run: |
          RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token $PAT" \
            https://api.github.com/repos/rajani0406/Craft-Froala-WYSIWYG-A/dispatches \
            -d "{\"event_type\":\"sync-version\", \"client_payload\": {\"version\":\"${VERSION}\"}}")

          echo "HTTP status: $RESPONSE"

          if [ "$RESPONSE" -eq 204 ]; then
            echo "✅ Dispatch succeeded"
          else
            echo "❌ Dispatch failed"
            exit 1
          fi
